@use "../variables/colors" as colors;

//Nav button rotate animation
#menu__toggle:checked {
	+ .menu__btn {
		span {
			transform: rotate(45deg);

			&::before {
				top: 0;
				transform: rotate(0deg);
			}

			&::after {
				top: 0;
				transform: rotate(90deg);
			}
		}
	}

	~ .menu__box {
		left: 0;
	}
}
