@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	background-color: colors.$light-gray;
}
ul > li {
	list-style-type: none;
}

.hero-img {
	img {
		width: 100%;
	}
}

.section {
	&-wrapper {
		padding: 80px 20px;
		text-align: center;
	}

	&-main {
		margin-bottom: 50px;

		&__heading {
			margin-bottom: 0;
			margin-top: 40px;
		}
		&__text {
			padding: 20px;
			margin: 0;
		}
	}
}

.gallery {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&-item-wrapper {
		position: relative;

		.hero-img {
			img {
				width: 327px;
				height: 120px;
				filter: brightness(0.5);
			}
		}

		.hero-title {
			width: 100px;
			height: 48px;
			position: absolute;
			top: 27px;
			left: 23px;
		}

		.hero-title--vr {
			width: 123px;
		}
	}
}
