@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	background-color: colors.$light-gray;
}
ul > li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.section {
	margin: 10px 15px;

	@include sc-breakpoint(768) {
		margin: 20px 40px;
	}

	@include sc-breakpoint(1400) {
		margin: 170px 100px;
	}

	&-wrapper {
		margin: 0 auto;
		text-align: center;
	}

	&-main {
		margin: 40px 0;

		@include sc-breakpoint(1024) {
			margin: 50px;
		}

		@include sc-breakpoint(1024) {
			position: relative;
			display: flex;
		}

		&__text-content {
			background: colors.$light-gray;

			@include sc-breakpoint(1024) {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 293px;
				height: 541px;
				right: 0;
				bottom: 0;
				padding-left: 30px;
				padding-right: 100px;
				text-align: left;
			}

			@include sc-breakpoint(1400) {
				width: 400px;
				height: 300px;
				padding-left: 70px;
			}
		}

		&__heading {
			margin-bottom: 0;
			padding-top: 40px;

			@include sc-breakpoint(1024) {
				width: 445px;
			}
		}
		&__text {
			padding: 20px;
			margin: 0;

			@include sc-breakpoint(768) {
				padding: 50px;
			}
			@include sc-breakpoint(1024) {
				padding: 0;
				padding-top: 20px;
			}
		}

		&__img {
			img {
				width: 100%;
				filter: contrast(1.2);
			}
		}
	}
}
