@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.nav {
	&__wrapper {
		position: relative;
		@include sc-breakpoint(1024) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__upper {
		z-index: 3;

		@media screen and(min-width:320px) and (max-width: 768px) {
			position: absolute;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 20px;
		}

		@include sc-breakpoint(1024) {
			left: 0;
			width: auto;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		transform: translateX(-100%);

		z-index: 2;

		@media screen and(min-width:320px) and (max-width: 768px) {
			position: fixed;
			top: 0;
			width: 100%;
			min-height: 100vh;
			height: 100vh;

			background: colors.$black;
			transition: transform 0.3s ease;
		}

		@include sc-breakpoint(1024) {
			right: 0;
			position: absolute;
			width: auto;
			height: auto;
			min-height: auto;
			display: block;
			transform: translateX(0);
			background: none;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 35px;

			@include sc-breakpoint(1024) {
				flex-direction: row;
			}
		}
	}
}

.show-menu {
	transform: translateX(0%);
}
