@use "../variables/colors" as colors;
@import "../variables/breakpoints";

h1,
h2,
h3 {
	font-family: "Josefin Sans", sans-serif;
}

.main-heading {
	@include sc-breakpoint(768) {
		font-size: 72px;
		font-weight: 300;
		line-height: 70px;
	}
	font-size: 40px;
	font-weight: 200;
	line-height: 38px;
	color: colors.$white;
}

.section-main__heading,
.section-gallery__heading {
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	color: colors.$black;
}

.section-main__text,
.footer-menu__item > a,
.footer-copyright {
	font-family: "Alata", sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.menu__item,
.hero-title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	color: colors.$white;
}

.menu__item {
	@include sc-breakpoint(1024) {
		text-transform: capitalize;

		&:hover {
			text-decoration: underline;
			text-underline-offset: 10px;
		}
	}
	text-transform: uppercase;
}

.section {
	&-wrapper {
		text-align: center;
	}

	&-main__heading {
		@include sc-breakpoint(1024) {
			font-size: 48px;
			// font-weight: 300;
			line-height: 48px;
		}
	}

	&-main__text {
		@include sc-breakpoint(768) {
			font-size: 19px;
		}
		opacity: 0.5;
	}

	.hero-title {
		@include sc-breakpoint(768) {
			font-size: 46px;
			line-height: 51px;
		}

		@include sc-breakpoint(1024) {
			font-size: 32px;
			line-height: 32px;
		}

		text-align: left;
	}

	.btn--see-all {
		@include sc-breakpoint(768) {
			font-size: 21px;
		}
		font-family: "Alata";
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 5px;
		text-align: center;
	}
}

.footer {
	&-menu__item a,
	&-copyright {
		color: colors.$white;
	}
}
