@use "../variables/colors" as colors;
@import "../variables/breakpoints";

h1,
h2,
h3 {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
}

.main-heading {
	font-size: 40px;
	line-height: 38px;
	color: colors.$white;
}

.section-main__heading,
.section-gallery__heading {
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	color: colors.$black;
}

.menu__item {
	@include sc-breakpoint(1024) {
		text-transform: capitalize;
	}
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: colors.$white;
	text-transform: uppercase;
}
