@use "../variables/colors" as colors;
@import "../variables/breakpoints";

h1,
h2,
h3 {
	font-family: "Josefin Sans", sans-serif;
}

.main-heading {
	font-size: 40px;
	font-weight: 200;
	line-height: 38px;
	color: colors.$white;
}

.section-main__heading,
.section-gallery__heading {
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	color: colors.$black;
}

.menu__item {
	@include sc-breakpoint(1024) {
		text-transform: capitalize;
	}
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: colors.$white;
	text-transform: uppercase;

	&:hover {
		opacity: 0.4;
	}
}

.section {
	&-wrapper {
		text-align: center;
	}

	&-main__text {
		font-family: "Alata";
		font-size: 15px;
		font-weight: 400;
		opacity: 49.94%;
	}

	.gallery {
		.hero-title {
			font-family: "Josefin Sans";
			font-size: 24px;
			font-weight: 300;
			line-height: 24px;
			text-align: left;
			color: colors.$white;
		}
	}
}
